<header>
  <hgroup>
    <h1 id="name">
      Nola On Rails
    </h2>

    <h5 id="countdown" class="subheader">
      <span id="remaining">3 days left</span> - <a href="#enrollment">Enroll now</a> for <span id="cost">$500</span>
    </h5>
  </hgroup>
</header>

<section id="what">
  <h2 class="title">
    What
  </h2>

  <h3 class="subheader">
    the class details
  </h2>

  <p id="details">
    In this class you will learn the ins and outs of a Rails application.
    The class will give you an introduction to the famous framework, best practices, and development patterns.
    With this class you'll be able to make yourself a target for high paying jobs.
    With it you can bootstrap your own ideas from prototypes to functional application.
  </p>
</section>

<section id="when" class="title">
  <h2>
    When
  </h2>

  <h3 class="subheader">
    the class schedule
  </h2>

  <ul id="dates" class="no-bullet">
    <li id="start">Starts <strong>August 14th</strong>, 2012</li>
    <li id="end">Ends <strong>September 14th</strong>, 2012</li>
    <li>Each class is <strong>45 minutes</strong></li>
    <li>Classes are from <strong>6:00PM CST</strong> - <strong>6:45PM CST</strong></li>
  </ul>
</section>

<section id="where">
  <h2 class="title">
    Where
  </h2>

  <h3 class="subheader">
    the class location
  </h2>

  <ul id="directions" class="no-bullet">
    <li>
      The class is located at <strong>643 Magazine Street, New Orleans, LA 70130</strong>
    </li>
    <li>
      <strong>Directions</strong>: <quote>Look for the Capdevile entrance to the building</quote>
    </li>
    <li>
      For more information <strong>call</strong> (504) 810-8701
    </li>
  </ul>

  <iframe id="map" frameborder="0" scrolling="no" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;ll=29.958093,-90.069164&amp;z=14&amp;cid=3774553948737820622&amp;output=embed">
  </iframe>
</section>

<section id="who">

  <p id="teacher">
    <img class="avatar" src="https://graph.facebook.com/kurtis.rainboltgreene/picture">
  </p>
  <h2 class="title">
    Who
  </h2>

  <h3 class="subheader">
    the class teacher
  </h3>

  <ul id="biography" class="no-bullet">
    <li>
      <strong>Kurtis</strong> Rainbolt-Greene, <a href="http://github.com/krainboltgreene">visit his profile</a>
    </li>
    <li id="experience">
      <strong>Experience</strong>: <quote>Taught 12 people how to use Rails, started Nola On Rails, launched 4 web apps.</quote>
    </li>

    <li id="courses">
      Is teaching <strong>3 other classes</strong>:
      <ul class="no-bullet">
        <li>
          <a href="#">Introduction To Ruby</a>
        </li>
        <li>
          <a href="#">Rails Rapid Pelease</a>
        </li>
        <li>
          <a href="#">Learn To Program (With Io)</a>
        </li>
      </ul>
    </li>
  </ul>

  <h3 class="subheader">
    the class students
  </h2>

  <ul id="students">
    <li class="student">
      <img class="avatar" src="https://graph.facebook.com/joshua.benitez.58/picture" alt="Joshua Benetez" title="Joshua Benetez">
    </li>
    <li class="student">
      <img class="avatar" src="https://graph.facebook.com/kittydorkdork/picture" alt="Angela Englund" title="Angela Englund">
    </li>
  </ul>
</section>

<section id="enrollment">
  <h2 class="title">
    Enrollment
  </h2>

  <h3 class="subheader">
    the class price
  </h3>

  <ul id="purchase" class="no-bullet">
    <li><strong>No prior experience required.</strong></li>
    <li>Costs <strong>$500.00</strong> per student</li>
    <li>Only <strong>17</strong> seats remaining</li>
    <li>You have <strong>3</strong> days until classes start</li>
    <li><a href="mailto:register@nolaonrails.com?Subject=I%20would%20like%20to%20register">Purchase your ticket now</a></li>
  </p>
</section>
