header
  hgroup.row
    h1#nola Nola
    h1#on.center On
    h1#rails.center Rails

section#register
  p
    a href=mail_to_address Register With Email

section#schedule
  hgroup
    h2#days TUE <small>&amp;</small> WED <small>&amp;</small> THU <small>3d</small>
    h2#hours 6:00 <small>-</small> 6:45pm <small>45m</small>
    h2#range AUG 14th <small>..</small> SEP 14th <small>4wks</small>

section#pitches
  h3 Build A Career For Yourself
  p = build_career_text
  h3 Bring Ideas To The Web
  p = bring_ideas_text
  h3 Get A Jump Start
  p = jump_start_text

section#location
  iframe#map

section#price
  hgroup
    h2#full $500.00 <small>Full Price</small>
    h2#local $475.00 <small>Local Business</small>
    h2#launchpad $450.00 <small>Launchpad Member</small>

section#newsletter
  form
