h1 Welcome To Nola On Rails!

p We're really glad you signed up. In order to activate your account, simply follow this link: #{link_to activation_account_url(@account), activation_account_url(@account)}
