section#payment
  header.page-header
    h2 Payment Policy
  markdown:
    Nola On Rails does not store your credit card information.
    This information is held by Stripe, a payment processor who processes your payments on behalf of Nola On Rails.
    Stripe's privacy agreement can be found https://stripe.com/privacy and their terms found https://stripe.com/terms
