section#schedule
  hgroup
    h2#days TUE <small>and</small> WED <small>and</small> THU <small>1h15m</small>
    h2#times 5:30 <small>to</small> 6:45 <small>PM</small>
    h2#dates Feb.28 <small>through</small> Apr.10 <small>6w</small>
