header.page-header
  h1 Nola On Rails Policies

section#change
  p From time to time we may make adjustments to this privacy policy. Changes to this policy will be made at Nola On Rails's sole discretion. Nola On Rails's users are encouraged to check this privacy policy for such changes. Your continued use of this site following changes to this privacy policy constitutes your acceptance of the changes.

section#data
  header.page-header
    h2 Data Policy
  .row
    .span6
      markdown:
        When visiting the Nola On Rails website, your activity, browser information and information about the referring site, along with an approximation of your location may be recorded.

        Nola On Rails may publish this information in an aggregate, non-personally identifying way.

        We may also recorded this information linked to your IP address or e-mail address, if authenticated to the website. We will never publish this personally identifying information.

        Nola On Rails uses this information to improve its websites, products and services and your experience with Nola On Rails. We will not share this personally identifying information with a third party other than in the circumstances set out below.


        ### Personal

        Nola On Rails collects the e-mail addresses, names and potentially other information volunteered when you communicate with us. When you register with Nola On Rails, we ask for information such as your name and e-mail addresses.

        Nola On Rails will use the information gathered for the provision of products and services to you; including billing, authentication, contact and improvement to said products services and its websites.

        Nola On Rails does not intentionally collect information from children under the age of thirteen (13).

        Nola On Rails may disclose personally identifying information to its employees, contractors and affiliated organizations. This will only be done on a need-to-know basis.


        ### Storage & Disclosure

        Nola On Rails uses the services of third party vendors for storage, network and technical services.

        Personally identifying information may be transferred outside of your home country as part of our provision of services to you.

        When required by law (under governmental order, warrant or subpoena), or when Nola On Rails believes that disclosure is reasonably necessary to protect the rights of Nola On Rails or third parties, personally identifying information may be disclosed.

        Nola On Rails reserves to right to publish correspondence and feedback sent to us in order to help us respond to the correspondence or to help other users.

    .span6
      markdown:

        ### Protection

        Nola On Rails will take all reasonable measures to protect against unauthorized access, use and alteration to personally identifying information. When passing personally identifying information to a third party, we will ensure that adequate protection of the information is applied by the recipient.

        Should Nola On Rails cease trading or file for bankruptcy, information held about you will not be transferred to a third party.


        ### Cookies

        A cookie is a small amount of information that our websites can store on your computer. Your computer provides this cookie when visiting the same website in the future. Cookies are used to enhance your experience with a website.

        Nola On Rails uses cookies to identify visitors and track visits to our website, store login session information and to remember your user preferences.

        Visitors can disable the storage of cookies in their web browser, but should be aware that doing so may affect the quality of the experience with the website. In some cases, the website may not work at all.


        ### Removal

        If you would like us to delete any personally identifying information held about you, we will do so on request unless we need to hold the information as part of the provision of products and services to you.

        If Nola On Rails, or substantially all of its assets were acquired, or in the unlikely event that Nola On Rails goes out of business, user information would be one of the assets that is transferred or acquired by a third party. You acknowledge that such transfers may occur, and that any acquirer of Nola On Rails may continue to use your personal information as set forth in this policy.

section#payment
  header.page-header
    h2 Payment Policy
  markdown:
    Nola On Rails does not store your credit card information. This information is held by Stripe, a payment processor who processes your payments on behalf of Nola On Rails. Stripe's privacy agreement can be found https://stripe.com/privacy and their terms found https://stripe.com/terms
