== render partial: "signin"
== render partial: "page-header"
== render partial: "schedule"
== render partial: "register"
== render partial: "location"
== render partial: "opening-day-alert"
== render partial: "mailchimp-signup"
== render partial: "pitches"
