= form.input :title, required: true
= form.input :description, as: :text, required: true, input_html: { class: 'span4', rows: '5'}
= form.input :week, collection: (1..6), input_html: { class: 'span1' }
= form.input :day, collection: (1..18), input_html: { class: 'span1' }
