= form.input :name
= form.input :body, body_course_form_input_options
= form.input :price, price_course_form_input_options
= form.input :enrollment_limit, label: "Enrollment Limit"
= form.input :image
