// This is a manifest file that'll be compiled into application.css, which will include all the files
// listed below.
//
// Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
// or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
//
// You're free to add application-wide styles to this file and they'll appear at the top of the
// compiled file, but it's generally better to create a new file per style scope.
//
//= require bootstrap
//= require_self
//= require_tree .

body {

  background: image_url('redtrolly.jpg') no-repeat center center fixed;
  background-size: cover;
  & > article {
    margin-top: 40px;
    background-color: rgba(255, 255, 255, 0.85);
    border: 1px silver solid; }
  & > footer {
    background: black image_url('tile.png');
    margin-top: 10em;
    box-shadow: inset 0px 2px 1px rgba(0, 0, 0, 0.25);
    h3, p { color: rgba(255, 255, 255, .15); }
  }
}
