// This is a manifest file that'll be compiled into application.css, which will include all the files
// listed below.
//
// Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
// or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
//
// You're free to add application-wide styles to this file and they'll appear at the top of the
// compiled file, but it's generally better to create a new file per style scope.
//
//= require twitter/bootstrap
//= require fontawesome
//= require_self
//= require_tree .

@import "http://fonts.googleapis.com/css?family=Oleo+Script";

.navbar {
  .navbar-inner {
    background-color: white;
    border-bottom: 1px #DA4F49 solid;
    background-image: linear-gradient(top, white, whitesmoke);
  }

  .brand { color: #444; }

  .nav > li > a {
    color: #444;
    &:hover { color: black; background-color: whitesmoke; }
  }
  .nav .active > a {
    color: black;
    background-color: transparent;
    text-decoration: underline;
    &:hover { color: whitesmoke; }
  }
  .divider-vertical {
    background-color: #DA4F49;
    border-right: none;
  }
}
.form-actions { background-color: transparent; }
.form-errors { padding-left: 160px; padding-right: 160px; }
.form-controls { .hidden { display: none; } }

body {
  background: image_url('redtrolly.jpg') no-repeat center center fixed;
  background-size: cover;
  article { background-color: white; margin-top: 50px; }
  .page-header { h1, h2, h3 { padding: 1em; } }
}

