
// .navbar {
//   .navbar-inner {
//     background-color: white;
//     border-bottom: 1px #DA4F49 solid;
//     background-image: linear-gradient(top, white, whitesmoke);
//   }

//   .brand { color: #444; }

//   .nav > li > a {
//     color: #444;
//     &:hover { color: black; background-color: whitesmoke; }
//   }
//   .nav .active > a {
//     color: black;
//     background-color: transparent;
//     text-decoration: underline;
//     &:hover { color: whitesmoke; }
//   }
//   .divider-vertical {
//     background-color: #DA4F49;
//     border-right: none;
//   }
// }
// .centered-thumbnails {
//   text-align: center;
//   li {
//     float: none;
//     display: inline-block;
//     *display: inline;
//     zoom: 1;
//     margin: 1em;
//   }
// }
