// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.pages#splash {
  background: image_url('redtrolly.jpg') no-repeat center center fixed;
  background-size: cover;
  article header h1.title {
    text-align: center;
    &#nola { font-size: 8.25em; }
    &#on { font-size: 6em; color: #DA4F49; }
    &#rails { font-size: 9em; font-family: "Vast Shadow", serif; }
  }

  article section.schedule {
    background-color: white;
    border-top: 1px #DA4F49 solid;
    border-bottom: 1px #DA4F49 solid;
    text-align: center;
    h2 small { vertical-align: middle;}
    h2#times { font-size: 2.5em; line-height: 1.75em; color: #DA4F49; }
    h2#days { font-size: 3em; line-height: 1.5em; }
    h2#dates { font-size: 3.25em; line-height: 1.5em; font-family: "Vast Shadow", serif; }
  }

  article section.location {
    h2#where { font-size: 3.25em; line-height: 1.5em; font-family: "Vast Shadow", serif; text-align: center; }
    iframe {
      border-top: 1px #DA4F49 solid;
      border-bottom: 1px #DA4F49 solid;
    }
  }

  article section.pitch section {
    background: white;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    header, p { padding: 0px 1em; }
  }
}
