// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.pages {
  background: image_url('redtrolly.jpg') no-repeat center center fixed;
  background-size: cover;
  &#splash {
    article {
      background-color: rgba(250,250,250, 0.5);
      margin-top: 0px;
      h1, h2, h3, p, ul, ol { padding: 0em; }
      .page-header { border-bottom: none; }
      .title {
        text-align: center;
        padding: 0em;
        &#nola { font-size: 8rem; }
        &#on { font-size: 7rem; color: #DA4F49; }
        &#rails { font-size: 9rem; font-family: "Oleo Script", serif; letter-spacing: 0.1em; }
      }

      #schedule {
        background-color: white;
        border-top: 1px #DA4F49 solid;
        border-bottom: 1px #DA4F49 solid;
        text-align: center;
        .subtitle { vertical-align: middle;}
        #times { font-size: 1.5em; line-height: 1.75em; color: #DA4F49; }
        #days { font-size: 4em; line-height: 1.5em; }
        #dates { font-size: 4.25em; line-height: 1.5em; font-family: "Oleo Script", serif; }
      }

      #location {
        background-color: white;
        border-top: 1px #DA4F49 solid;
        border-bottom: 1px #DA4F49 solid;
        #where { font-size: 3.25em; line-height: 1.5em; text-align: center; }
        .subtitle { text-align: center; }
        .map { width: 100%; height: 325px; }
      }

      #register {
        text-align: center;
        padding: 1em;
      }

      #pitches .pitch {
        background: white;
        border-radius: 3px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
        header, p { padding: 0px 1em; }
      }

      #signup {
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: center;
        input[type=email] {
        font-size: 18px;
        padding: 9px 14px;
        }
      }
    }
  }
}
