meta charset="utf-8"
meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"
title = view_title(@title)
meta name="description" content=view_description(@description)
meta name="keywords" content=view_keywords(@keywords)
meta name="author" content=view_author(@author)
meta name="viewport" content="width=device-width, initial-scale=1.0"
meta name="stripe-key" content=ENV['STRIPE_KEY']
= csrf_meta_tags

